{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.2"}
        seancorfield/next.jdbc {:mvn/version "1.0.424"}
        honeysql/honeysql {:mvn/version "1.0.444"}
        mysql/mysql-connector-java {:mvn/version "5.1.6"}
        compojure/compojure {:mvn/version "1.6.2"}
        ring/ring-defaults {:mvn/version "0.3.2"}
        ring/ring-json {:mvn/version "0.5.0"}
        ring/ring-core {:mvn/version "1.8.2"}
        ring/ring-jetty-adapter {:mvn/version "1.6.3"}
        ring-cors/ring-cors {:mvn/version "0.1.13"}
        migratus/migratus {:mvn/version "1.3.5"}}
 :aliases
 {:run-m {:main-opts ["-m" "yardstick.yardstick-backend"]}
  :run-x {:ns-default yardstick.yardstick-backend
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.193"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:aot true
                        :jar "yardstick-backend.jar"
                        :main-class "yardstick.yardstick-backend"
                        :sync-pom true}}}}
